<p style="color: green"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<h1>Friend List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
